@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    width: 700px; height: 440px;
    font-size: 4em;
    border: 5px solid black;
    color: darkred;
}

.bg_0_div {
    background-image: url("../images/background_rose.jpg");
    background-size: 100% 100% cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-attachment: scroll; */
}