@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

section {
    width: 800px;
    margin: 20px auto;
    background-color: antiquewhite;
}
h2 {
    font-size: 30px;
    color: blue;
}
article {
    width: 350px; height: 200px;
    margin: 10px;
    padding: 10px;
    float: left;
    background-color: aquamarine;
}
article > h3 {
    margin: 10px 0;
}
article > p {
    font-size: 12px;
    line-height: 20px;
}
.house {
    background-color: cadetblue;
}
footer {
    width: 100%; height: 50px;
    clear: both;
}
footer > p {
    color: white;
    text-align: center;
    line-height: 50px;
    background-color: black;
    font-weight: 700;
}