@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    width: 100%; height: 1000px;
    background-position: center top;
}

.bg01 {
    background-image: url("../images/bg01.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100% cover;
}
.bg02 {
    height: 500px;
    background-image: url("../images/bg02.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100% cover;
    background-attachment: fixed;
}
.bg03 {
    background-image: url("../images/bg03.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100% cover;
}
.bg04 {
    background-image: url("../images/bg04.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100% cover;
}
.bg05 {
    background-image: url("../images/bg05.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100% cover;
}