
.icon-emo-happy:before { content: '\e800'; } /* '' */
.icon-emo-thumbsup:before { content: '\e804'; } /* '' */
.icon-emo-devil:before { content: '\e805'; } /* '' */
.icon-emo-surprised:before { content: '\e806'; } /* '' */
.icon-emo-beer:before { content: '\e80b'; } /* '' */
.icon-emo-wink2:before { content: '\e813'; } /* '' */
